<!DOCTYPE html> 
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FairGO Meal Finder</title>
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <!-- Font stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Lobster|Patua+One|Secular+One|Spinnaker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
</head>

<body>      
    <!-- Page 1 banner -->
    <div class="row">
        <div class="col-12 banner_area banner_font bg_green center_content">FairGO</div>
    </div>

    <div class="row">
        <div class="col-12 user_banner_area user_banner_font bg_green center_content">
            {% if user.is_authenticated %}
                <span>G'day </span>
                <span>{{ user.username }}! </span>
                <span>Start exploring your local cuisines today.</span>
            {% else %}
                Explore cuisines from your local community.
            {% endif %}
        </div>
    </div>

    <div class="row bg_lgreen">
        {% block step1 %}
        {% endblock %}
    </div>

    <div class="row bg_lgreen b1_min_height">
        <!-- Page 1/2 section -->
        {% block b1 %}
        {% endblock %}
    </div>

    <div class="row bg_lgreen">
        {% block step2 %}
        {% endblock %}
    </div>

    <div class="row bg_lgreen b2_min_height">
        <!-- Page 1 section -->
        {% block b2 %}
        {% endblock %}
    </div>

    <div class="row bg_lgreen">
        {% block step3 %}
        {% endblock %}
    </div>

    <div class="row bg_lgreen">
        <!-- Page 1 section -->
        {% block b3 %}
        {% endblock %}
    </div>
    
    <div class="row bg_lgreen large_top_spacing">
        <div class="col-12 nav_style">
            <!-- Navbar link title section -->
            {% block nav_bar %}
            {% endblock %}
        </div>
    </div>
    

    <!-- Custom Javascript -->
    <script src="{% static 'javascript/baseApp.js' %}"></script>
    
    <!-- Optional Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>